* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

#user {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#user:not(:has(#posts)) h2:last-of-type {
  display: none;
}

#get_posts {
  width: 90vw;
  padding: 0.5rem;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

dl {
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem 1rem;
  background-color: whitesmoke;
}

dt {
  font-weight: bold;
  text-align: right;
}

dt::after {
  content: ':';
}

#posts {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  background-color: whitesmoke;
}

li {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
