* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(91 140 185);
}

.container {
  margin: auto;
  padding: 20px;
}

main {
  height: 100vh;
  display: flex;
}

h2 {
  margin-bottom: 26px;
}

label {
  font-size: 12px;
  color: rgb(50 50 50);
}

input {
  height: 22px;
  padding: 0 4px;
  font-size: 16px;
  line-height: 22px;
}

ul {
  list-style: none;
}

.task-1 {
  width: 485px;
  padding: 42px 26px;
  background-color: #fff;
}

.task-1__form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 26px;
  align-items: start;
}

.task-1 label {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

.task-1 button {
  width: auto;
  height: 22px;
  padding: 0 8px;
  justify-self: start;
}

#key_value_input,
.add-item {
  display: inline-block;
  margin-bottom: 26px;
}

#key_value_list {
  min-height: 236px;
}

#key_value_input,
#key_value_list {
  border: 1px solid lightgray;
}

.task-1__actions,
.task-1__sort-actions {
  display: flex;
  flex-direction: column;
}

.task-1__actions {
  gap: 20px;
}

.task-1__sort-actions {
  gap: 10px;
}

.task-1__actions > button {
  align-self: start;
}

li {
  cursor: pointer;
}

li.selected {
  background-color: darkblue;
  color: #fff;
}

@media screen and (max-width: 576px) {
  ul {
    margin-bottom: 10px;
  }

  .task-1__sort-actions {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    padding: 20px 0;
  }

  .task-1 {
    width: 100%;
  }

  .task-1__form {
    display: block;
  }

  #key_value_input {
    margin-bottom: 10px;
  }

  #add {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 300px) {
  input {
    width: 100%;
    margin-bottom: 16px;
  }

  .task-1__sort-actions button {
    height: auto;
    min-height: 22px;
  }
}
